---
- hosts: localhost
  connection: local
  tasks:
    - name: Build resource list
      command: buildresource.py {{ lookup('env', 'AWS_USERNAME') }} /resources/resourceConfigFile
      register: inputList
    
    - name: Parse resource list
      set_fact:
        resourceList: "{{ inputList.stdout | from_json }}"
    
    - name: Configure S3 Buckets
      s3_bucket:
        name: "{{ item }}"
        region: "{{ resourceList.s3[item].region }}"
        state: "{{ resourceList.s3[item].state }}"
        force: yes
      with_items:
        "{{ resourceList.s3 | default([]) }}"

    - name: Configure DynamoDB Tables
      dynamodb_table:
        name: "{{ item }}"
        region: "{{ resourceList.dynamodb[item].region }}"
        hash_key_name: "{{ resourceList.dynamodb[item].hash_key_name }}"
        read_capacity: "{{ resourceList.dynamodb[item].read_capacity | default(5) }}"
        write_capacity: "{{ resourceList.dynamodb[item].write_capacity | default(5) }}"
        state: "{{ resourceList.dynamodb[item].state }}"
      with_items:
        "{{ resourceList.dynamodb | default([]) }}"
